@media only screen and (max-width: 990px)  {
    
    .hero-sec{
        overflow: hidden;
    }

    .hero-video {
        width: initial;
        height: 100%;
    }

    .hero-bg-bottom {
        position: absolute;
        bottom: 139px;
    }

    .hero-content h1 {
        font-size: 3.5rem;
    }

    .ads-img-bx{
            margin-bottom: 3rem;
    }

    .sm-mb{
        margin-bottom: 5rem;
    }

    
    .choose-us-img-bx{
        margin-bottom: 2rem;
    }

    .logo {
        width: 105px;
    }

    .value-content{
        margin-bottom: 1rem;
    }

    .menu-open{
        display: block;
    }

    header.active .menu-open{
        color: var(--secondry);
    }

    nav{
        position: fixed;
        top: 0;
        right:0;
        height: 100vh;
        width: 100%;
        background: var(--secondry);
        transform: translateX(100%);
        opacity: 0;
        visibility: hidden;
        transition: var(--transition);
        z-index: 1000;
    }

    nav.active{
        transform: translateX(0%);
        opacity: 1;
        visibility: visible;
    }

    nav ul{
        display: flex;
        flex-direction: column;
        margin-top: 10rem;
    }

    header.active nav ul li a{
        color: var(--white-color);    
        font-size: 1.3rem;
    }

    .inn-header nav ul li a{
       color: var(--white-color); 
    }

    .menu-close{
        display: block;
        position: absolute;
        top: 18px;
        right: 29px;
        color: var(--white-color);
        height: 3rem;
        width: 3rem;
        border-radius: 100%;
        border: 1px solid var(--white-color);
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
    }

    .casestudy-content-bx{
        margin-bottom: 3rem;
    }

    .pub-test-sec .test-card {
        margin-bottom: 1.5rem;
    }

    .visual-box {
        height: 556px;
        min-height: inherit;
    }

    .sucess-sec .card{
        margin-bottom: 2rem;
    }

    .stat-big{
        margin-bottom: 2rem;
    }

    .e-com-sec .ele-retail .metric-row {
        grid-template-columns: repeat(2, 1fr);
    }

    .test-card {
        margin-bottom: 2rem;
    }

    

}

@media only screen and (max-width: 767px){
    .hero-content h1{
        font-size: 2.5rem;
    }

    .marquee-content span{
        font-size: 1.5rem;
    }

    .marquee-content span::before{
        top: 6px;
        left: -37px;
        height: 25px;
        width: 25px;
    }

    .marquee-content span::after{
        top: 14px;
        left: -29px;
        height: 9px;
        width: 9px;
    }

    .hero-bg-bottom{
        bottom: 102px;
    }

    h2{
        font-size: 2rem;
    }

    .about-sec .header-bx{
        margin-bottom: 0;
    }

    .services-sec .header-bx {
        margin-bottom: 3rem;
    }

    .tech-sec .header-bx {
        margin-bottom: 2rem;
    }
    .flex-bx{
        flex-wrap: wrap;
    }

    .ft-content-bx h2{
        margin-bottom: 1rem;
    }

    .ft-content-bx{
        margin-bottom: 2rem;
    }

    .cta-btn {
        font-size: 2.5rem;
    }

    .srvc-card-title {
        font-size: 1.3rem;
    }

    .ads-title{
        font-size: 2.5rem;
    }

    p{
        font-size: 1rem;
    }

    .hero-content p{
        font-size: 1rem;
    }

    .other-srvc-title{
        font-size: 1.3rem;
    }

    .other-srvc-num{
        top: -32px;
        padding: 0.5rem 0.8rem;
    }

    .tech-sub-title{
        font-size: 1.3rem;
    }

    .sub-title{
        font-size: 1.2rem;
    }

    
    .hero-content h1 {
        text-align: center;
    }

    .mission-img{
        margin-top: 2rem;
    }

    .copy-right-bx{
        flex-wrap: wrap;
        justify-content: center;
        gap: 1rem;
    }

    .banner-title {
        font-size: 2.5rem;
    }

    .pub-bg-clr{
        padding: 31px;
    }

    .prss-step-bg-clr{
        padding: 25px;
    }

    .result-strip{
        grid-template-columns: repeat(2, 1fr);
    }

    .stat-big .count {
        font-size: 2rem;
    }
}


@media only screen and (max-width: 579px){

    .hero-bg-bottom {
      bottom: 85px;
    }

    .slt-bg-clr{
        padding: 20px 20px;
    }

    .banner-title {
        font-size: 2rem;
        font-weight: 500;
    }
    
    .hero-side{
        display: none;
    }

    .case-study-hero  .dashboard{
        grid-template-columns: 1fr;
    }
}


@media only screen and (max-width: 480px){
    .tech-sec{
        height: 750px;
    }

    .hero-bg-bottom {
        bottom: 63px;
    }

    .dash-metrics {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .visual-box {
        height: 778px;
    }

    .visual-box .before-after{
        grid-template-columns: 1fr;
        height: 73%;
    }

    .phone-bars{
        height: 100px;
    }

    .cstdy-feature-section .card-pad .dashboard-grid{
        grid-template-columns: repeat(2, 1fr);
    }

    .cstdy-feature-section .card-pad{
        padding: 24px 0px;
    }

    .cstdy-feature-section .case-card {
    padding: 24px 15px;
}
}
