
:root{
    --primary:#febd16;
    --white-color:#fff;
    --font-color: #121212;

    --transition: 0.3s ease-in-out;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    border: none;
    outline: none;
}

body{
    font-family: "Rubik", sans-serif;
    color: var(--font-color);
}

ul{
    margin: 0;
    padding: 0;
}
li{list-style: none;}

a{text-decoration: none;}

p{
    margin: 0;
    line-height: 1.6;
    font-size: 1.1rem;
}

h2{
    font-size: 3rem;
}

/* --- Reusable Code --- */
.sec-padding{
    padding: 3rem 0;
}

.header-bx {
    margin-bottom: 1rem;
}

small{
    padding: 0.8rem 1.5rem;
    border: 1px solid var(--primary);
    border-radius: 2rem;
    margin-bottom: 1rem;
    font-weight: bold;
}

.heading2{
    margin-top: 2rem;
}


/* --- Header Section --- */

header{
    padding: 2.5rem 0 1rem;
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    z-index: 999;
    transition: var(--transition);
}

header.active{
    background-color: rgba(255, 255, 255, 0.8);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    padding: 1rem 0 1rem;
}

.logo{
    width: 130px;
}

header.active .logo{
    display: none;
}

.logo-new{
    width: 100px;
    display: none;
}

header.active .logo-new{
    display: block;
}

.header-main-bx{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav ul{
    display: flex;
    align-items: center;
    gap: 2rem;
}

nav ul li a{
    color: var(--white-color);
    position: relative;
}

header.active nav ul li a{
    color: #121212;
} 

nav ul li a::after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 0%;
    background: var(--white-color);
    transition: var(--transition);
}

header.active nav ul li a::after{
    background: var(--primary);
}

nav ul li a:hover{
    color: var(--white-color);
    
}
nav ul li a:hover::after{
    width: 100%;
}

nav ul li a.login{
    background: var(--primary);
    color: var(--white-color);
    padding: 0.8rem 1.3rem;
    border-radius: 0.4rem;
}

header.active nav ul li a.login{
    color: var(--white-color);
}

nav ul li a.login::after{
    background: none;
}

/* --- Hero Video --- */

.hero-sec{
    height: 100%;
    position: relative;
}

.hero-video{
    width: 100%;
        position: relative;
}

.hero-content{
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.4);
}
.hero-content h1{
    font-size: 5rem;
    color: var(--white-color);
    margin-bottom: 4rem;
}
.hero-bg-bottom{
    position: absolute;
    bottom: 240px;
    left: 0;
    height: 0;
    width: 100%;
    z-index: 4;
}

.hero-bg-bottom img{
    width: 100%;
}


/* --- Marquee --- */

.marquee{
    width:100%;
    overflow:hidden;
    padding:20px 0;
    white-space:nowrap;
}

.marquee-content{
    display:inline-flex;
    gap:60px;
    animation: marquee 20s linear infinite;
}

.marquee-content span{
    color:#fff;
    font-size:1.8rem;
    font-weight:600;
    white-space:nowrap;
    position: relative;
}

.marquee-content span::before{
    content: '';
    position: absolute;
    top: 6px;
    left: -37px;
    height: 30px;
    width: 30px;
    /* background: var(--primary); */
    border-radius: 100%;
    border: 3px solid var(--primary);
}

.marquee-content span::after{
    content: '';
    position: absolute;
    top: 14px;
    left: -29px;
    height: 14px;
    width: 14px;
    background: var(--primary);
    border-radius: 100%;
}

@keyframes marquee{
    from{
        transform:translateX(0);
    }
    to{
        transform:translateX(-50%);
    }
}

/* --- About us Section --- */



.about-content p{
    margin-bottom: 1rem;
}

/* --- Mission section --- */

.services-sec{
        background: linear-gradient(0deg, rgb(84 138 127 / 14%) 0%, rgb(205 207 207 / 14%) 50%, rgb(253 192 101 / 19%) 100%);
}

.mission-img{
    height: 220px;
    overflow: hidden;
    border-radius: 1rem;
    margin-top: 5rem;
}

.mission-img img{
    width: 100%;
    height: 220px;
    object-fit: cover;
}

.value-title{
    font-weight: bold;
    font-size: 1.1rem;
    margin-bottom: 1rem;
}

.mission-sec .header-bx .btn{
    padding: 0.8rem 1.8rem;
    border: 1px solid var(--primary);
}

.mission-sec .header-bx h2{
    margin-bottom: 2rem;
}

.srvc-icon-bx span i{
    font-size: 5rem;
}

.srvc-card-title{
    font-size: 1.4rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.srvc-card p{
    margin-bottom: 0.5rem;
}

.srvc-card{
    border: 1px solid #c9c9c9;
    padding: 1.5rem;
    border-radius: 1rem;
    transition: var(--transition);
}

.srvc-card:hover{
    box-shadow: 0 0 20px rgba(253, 192, 101, 0.61);
}

   